p{
background-color: ;
text-align: center;
font-size: 2rem;
font-family: sans-serif;
}

* {background-color: lightcyan;
   
   }

img{
	align-items: ;
	width: 15%;
	margin-left: 42%;
	margin-top: 12%;
	position: absolute;